<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap"
      rel="stylesheet"
    />
    <title>Portfolio | Welcome</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <div id="branding">
          <h1><span class="highlight">Portf</span>olio</h1>
        </div>
        <nav>
          <ul>
            <li><a href ="http://localhost:5300">home</a></li>
            <li><a href ="http://localhost:5300/services">services</a></li>
            <li><a href ="http://localhost:5300/contact">contact</a></li>
            
          </ul>
        </nav>
      </div>
    </header>

    <section id="showcase">
      <div class="container">
        <h1>Full stack web development</h1>
        <p>
...        </p>
      </div>
    </section>

    <section id="newsletter">
      <div class="container">
        <h1>Subscribe To Our Newsletter</h1>
        <form>
          <input type="email" placeholder="Enter Email..." />
          <button type="submit" class="button_1">Subscribe</button>
        </form>
      </div>
    </section>

    <section id="boxes">
      <div class="container">
        <div class="box">
          <img src="./img/logo_html.png" />
          <h3>HTML5 Markup</h3>
          <p>
...          </p>
        </div>
        <div class="box">
          <img src="./img/logo_css.png" />
          <h3>CSS3 Styling</h3>
          <p>
...          </p>
        </div>
        <div class="box">
          <img src="./img/LOGOJV.png" />
          <h3>Java script</h3>
          <p>
...          </p>
        </div>
      </div>
    </section>

    <footer>
      <p>Copyright &copy;</p>
    </footer>
  </body>
</html>